// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';

body {
  margin: 0 auto;
  background: black;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
  align-self: center;
}

.section {
  margin: 0;
  padding: 10rem;
}

.container {
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  //max-width: 50rem;
}

.jumbo-search {
  display: flex;
  justify-content: space-between;
}

.search__bar {
  flex-grow: 1;
  margin: 0;
  padding: 0.5rem;
  line-height: 2rem;
}

.search-button {
  background: #69d59c;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  color: white;
}

.movie-profile {
  margin: 0 auto;
  background: lightgrey;
  padding: 1rem;
}

.top-content {
  display: flex;
  justify-content: space-between;
  margin: 4rem;

  &__left {}
  &__right {}
}

.image {
  width: 20rem;
}
